# artifacts
frontend.jar
build/
out/

# npm
frontend/package-lock.json

# mac
.DS_Store

# idea
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/
.idea/modules/
*.iml

# gradle
.gradle/
