<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring: WebApp" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.drako.examples.webapp.Application" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="backend_main" />
    <envs />
    <method>
      <option name="Gradle.BeforeRunTask" enabled="true" tasks="frontendJar" externalProjectPath="$PROJECT_DIR$/frontend" vmOptions="" scriptParameters="" />
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>